<div class="depot-form">
  
  <%= error_messages_for 'order' %>
  
  <% form_for :order, :url => { :action => :save_order } do |form|  %>
    <fieldset>
      <legend><%= t('checkout.legend') %></legend>
      
      <div>
        <%= form.label :name, t('checkout.name') %>
        <%= form.text_field :name, :size => 40 %>
      </div>
      
      <div>
        <%= form.label :address, t('checkout.address')%>
        <%= form.text_area :address, :rows => 3, :cols  => 40 %>
      </div>
      
      <div>
        <%= form.label :email, t('checkout.email') %>
        <%= form.text_field :email, :size => 40 %>
      </div>
      
      <div>
        <%= form.label :pay_type, t('checkout.pay_type') %>
        <%= form.select :pay_type,
                        Order::PAYMENT_TYPES,
                        :prompt => t('checkout.pay_prompt') %>
      </div>
      
      <%= submit_tag t('checkout.submit'), :class => "submit" %>
    </fieldset>
  <% end %>
</div>