<h1>Your Pragmatic Catalog</h1>

<% @products.each do |product| -%>
  <div class="entry">
    <% form_remote_tag :url => {:action => 'add_to_cart', :id => product} do %>
      <%= image_submit_tag(product.image_url) %>
      <h3><%=h product.title %></h3>
      <%= product.description %>
      <div class="price-line">
        <span class="price"><%= number_to_currency(product.price) %></span>
          <%= submit_tag "Add to Cart" %>
      </div>
    <% end %>
  </div>
<% end %>